
.backdrop {
    padding: 2px 5px;
    filter: blur(4px);
    width: 80px;
    height: 46.85px;
    position: relative;
    top: -40vh;
    border-radius: 10px;
}
.container {
    padding: 2px 5px;
    background-color: #0e163085;
    backdrop-filter: blur(10px);
    text-align: left;
    width: 80px;
    position: relative;
    top: -40vh;
    left: 28.5vw;
    border-radius: 10px;
    transition: transform 0.3s;
}

.container p {
    font-size: 0.4em;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

.container:hover {
    transform: scale(1.1);
    transition: transform 2;
}
