.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 6vh 5% 0 10%;
}

.title {
    text-align: left;
    width: 100%;
    color: #EB4A4A;
    margin-bottom: 1em;
    font-size: 0.5em;
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 

    .projectsContainer {
        height: 55.9vh;
        overflow: scroll;
    }
}